/* html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    background: rgb(216, 216, 216);
    border-radius: 6px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 6px;
    transition: all 0.2s;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
    border-radius: 6px;
}

html::-webkit-scrollbar-thumb:active {
    background: rgb(109, 109, 109);
    border-radius: 6px;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-hidden {
    -ms-overflow-style: none; /* Internet Explorer dan Edge */
    scrollbar-width: none; /* Firefox */
}

/* Mobile devices (portrait mode) */
@media only screen and (max-width: 480px) {
    /* Styles for mobile devices */
}

/* Mobile devices (landscape mode) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* Styles for mobile landscape */
}

/* Tablets (portrait mode) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
}

/* Tablets (landscape mode) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for tablets landscape */
}

/* Small desktops and laptops */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    /* Styles for small desktops */
}

/* Large desktops and laptops */
@media only screen and (min-width: 1441px) {
    /* Styles for large desktops */
}

/* Retina displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    /* Styles for retina displays */
}

/* Data Tables */

.dt-container:first-child .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.dt-search {
    /* width: 100%; */
    margin-top: 0.2rem;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dt-search label {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.dt-search input {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    display: block;
    padding: 0.625rem;
}

.dt-search input:focus {
    outline: none;
    border-color: #fc8181;
    box-shadow: 0 0 0 3px rgba(252, 129, 129, 0.5);
}

.dt-length {
    margin-top: 0.2rem;
    margin-left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dt-length label {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.dt-length select {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    display: block;
    padding: 0.625rem;
}

.dt-length select:focus {
    outline: none;
    border-color: #fc8181;
    box-shadow: 0 0 0 3px rgba(252, 129, 129, 0.5);
}

.dt-info {
    margin-bottom: 0.2rem;
    margin-left: 0rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.pagination {
    margin-bottom: 0.2rem;
    margin-right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.pagination [aria-current="page"] {
    color: #ffffff;
    background-color: #ef4444;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    outline: none;
    transition: all 200ms ease-in-out;
}

.pagination [aria-current="page"]:hover {
    color: #ffffff;
    background-color: #dc2626;
}

.pagination [aria-current="page"]:focus {
    box-shadow: 0 0 0 4px rgba(252, 165, 165, 0.5);
}

.pagination [aria-current="page"]:focus-visible {
    outline: none;
}

.dt-empty {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    .dt-container:first-child .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .dt-search {
        margin-right: 0.2rem;
        justify-content: end;
    }

    .dt-length {
        margin-left: 0.2rem;
        justify-content: start;
    }

    .dt-info {
        margin-left: 0.2rem;
        justify-content: start;
    }

    .pagination {
        margin-right: 0.2rem;
        justify-content: end;
    }
}

.table-custom th {
    padding: 0.7rem 1rem;
}

.table-custom tr {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.table-custom td {
    padding: 0.7rem 1rem;
    white-space: normal !important;
}

.capitalize {
    text-transform: capitalize;
}

.swal2-popup {
    /* position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%); */
    width: 28em !important;
    max-width: 100%;
    /* padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1rem; */
}

.swal2-title {
    font-size: 1.2rem;
    padding-top: 0;
}

.swal2-html-container {
    font-size: 1rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.swal2-icon {
    width: 5em;
    height: 5em;
    margin-top: 1.25em !important;
}

.swal2-actions {
    margin-top: 0.5rem !important;
}

/* Select 2 */

.custom-select {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.625rem;
    display: block;
    outline: none;
}

.custom-select:focus {
    border-color: #f87171;
    box-shadow: 0 0 0 3px rgba(248, 113, 113, 0.5);
}

.select2-container--default .select2-selection--multiple {
    width: 100%;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    color: #111827;
    font-size: 0.875rem;
    cursor: text;
    padding-bottom: 0;
    padding-right: 0;
    padding: 0.625rem;
    position: relative;
    outline: none;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    /* white-space: nowrap; */
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 18px;
    vertical-align: sub;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    outline: none;
    border-color: #f87171 !important;
    box-shadow: 0 0 0 3px rgba(248, 113, 113, 0.5) !important;
}

.ck-placeholder {
    font-size: 0.875rem;
}

.ck-editor ol,
.ck-editor ul,
.ck-editor menu {
    margin-left: 2rem !important;
    padding: 0;
}

.ck-editor h6 {
    font-size: 1rem;
}

.ck-editor p {
    font-size: 0.9rem;
}

.ck-editor-front p {
    color: rgb(107 114 128);
    font-size: 1rem;
}

.ck-editor-front p span {
    color: rgb(107 114 128) !important;
    font-size: 1rem;
}

.filepond {
    margin-bottom: 0;
}

.filepond--credits {
    display: none;
}

.filepond--drop-label label {
    font-size: 0.875rem;
}
